# SwiTF01-hit3 Environment Variables

# Backend variables
MONGO_URI=mongodb://mongo:27017/SwiTF01-hit3
JWT_SECRET=

# Frontend variables
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_GRAPHQL_URL=http://localhost:4000/graphql
NEXT_PUBLIC_GRPC_URL=localhost:50051
GRPC_URL=backend:50051
